include README.md
include LICENSE
include requirements.txt
recursive-include config *.yml *.example
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
